     /* Google chrome */
      @-webkit-keyframes svg-text-anim {
       40% {
          stroke-dashoffset: 0;
          fill: transparent;
        }
        60% {
          stroke-dashoffset: 0;
          fill: #1f2e47;
        }
        100% {
          stroke-dashoffset: 0;
          fill: #1f2e47;
        }
        
    }
    /* Most browsers */
    @keyframes svg-text-anim {
       40% {
          stroke-dashoffset: 0;
          fill: transparent;
        }
        60% {
          stroke-dashoffset: 0;
          fill: #1f2e47;
        }
        100% {
          stroke-dashoffset: 0;
          fill: #1f2e47;
        }
        
    }